@import "src/scss/settings/fonts";
@import "src/scss/settings/colors";

.homeHeaderBox {
  width: 1900px;
  height: 963px;
  display: flex;
  &_Image {
    width: 885px;
    background-position: -483px;
  }
  &_Content {
    width: 873px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &__UpMenu {
      width: 683px;
      height: 95px;
      margin-top: 37px;
      margin-left: 190px;
    }
    &__DownMenu {
      width: 674px;
      height: 350px;
      margin-right: 133px;
      margin-left: 66px;
      margin-top: 210px;
    }
  }
}
.upMenuTop {
  width:228px ;
  height:36px ;
  margin-bottom: 17px;
  margin-left: 505px;
  display: flex;
  &_Box1 {
    width: 68px;
    height: 36px;
    font-size: 18px;
    line-height: 85px;
    margin-right: 4px;
    color: $text2-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-base;
    &:hover {
      border: 0.75px solid $hover-color;
    }
  }
  &_Box2 {
    width: 110px;
    height: 36px;
    font-size: 18px;
    line-height: 79px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-base,sans-serif;
    &:hover {
      border: 0.75px solid $hover-color;
    }
  }
}
.upMenuDown {
  width: 683px;
  height: 42px;
  display: flex;
  align-items: center;
  &_Box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color:$text-color;
    font-size: 20px;
    line-height: 24px;
    height: 42px;
    font-family: $font-base,sans-serif;
    &:hover {
      border: 0.75px solid $hover2-color;
    }
  }
}
.downMenuTop {
  height: 165px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &_content {
    width: 100%;
    height: 107px;
    font-family:$font-base;
    font-size: 38px;
    text-align: center;
    letter-spacing: -0.76px;
    line-height: 55px;
  }
}
.downMenuDown {
  height: 185px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  &_Box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 120px;
    font-size: 36px;
    line-height: 45px;
    font-family: $font-base;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid $after-border-color;
  }
}
.Link1 {
  cursor: pointer;
}

.Link2 {
  text-decoration: none;
  color:$text2-color ;
}